# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
mhr-cfw-go
mhr-cfw-go.exe

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# CA certificates (local, generated at runtime)
ca/


# IDE files
.idea/
.vscode/
*.swp
*.swo
*~